@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
  color: #000;
}

h1, h2, h3, h4, h5, h6,
.brand-font {
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #183141;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
